.button {
    position: absolute;
    width: 185px;
    height: 50px;
    border: 0;
    background: $main-color;
    border: none;
    border-radius: 5px;
    &:hover {
        background: $second-color;
        text-decoration: underline;
        transition: 0.5s all;
    }
    &-feed {
        position: relative;
        width: 216px;
        height: 50px;
        background: $main-color;
        box-shadow: none;
        &:hover {
            background: $second-color;
            color: #fff;
            transition: 0.5s all;
            text-decoration: underline;
        }
    }
}

.modal__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 293px;
    height: 45px;
    background: #444444;
    opacity: 0.8;
    border: none;
    border-radius: 10px;
    &:hover {
        background: $second-color;
        text-decoration: underline;
        transition: 0.5s all;
    }
}
.modal__button-consultation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 52px;
    background: $main-color;
    border-radius: 5px;
    border: none;
    &:hover {
        background: $second-color;
        text-decoration: underline;
        transition: 0.5s all;
    }
}