.sertificates {
    width: 1440px;
    height: 458px;
    margin: 31px auto 0;
    background: url(../img/certificates_bg.png) center (center/cover) no-repeat;
    .container {
        margin: 0 auto;
    }
}

.slide-two {
    padding-top: 35px;
}
.slide-two .owl-stage-outer {
    position: relative;
    width: 910px;
    margin: 0 auto;
}
.owl-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 90px;
}
.owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 90px;
}
.slide-two .owl-nav .owl-prev:hover {
    background: transparent;
    background-image: url(../icons/arrow_left.svg);
}
.slide-two .owl-nav .owl-next:hover {
    background: transparent;
    background-image: url(../icons/arrow_right.svg);
}